# System-specific files
.DS_Store

# Binary outputs
/bin/
/__debug_bin*

# Ignore .env files
.env

# IDE-specific files and directories
.idea/
.vscode/
*.iml

# Editor backups and temporary files
*~
*.swp
*.bak
*.tmp
*.log

# Go specific
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with "go test -c"
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (uncomment this if you want to ignore it)
# vendor/

# Ignore coverage files, useful when running go test -coverprofile=c.out
coverage.txt
c.out
